language: python
# notes from http://conda.pydata.org/docs/travis.html
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
install:
  - sudo apt-get update
  - sudo apt-get install libfftw3-dev libboost-dev libeigen3-dev
  # We do this conditionally because it saves us some downloading if the
  # version is the same. 
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numba pytest cython nose
  - source activate test-environment
  - pip install pyfftw
  - pip install git+https://github.com/ericmjonas/eigency.git
  - python setup.py install

script:
  # Your test script goes here
  nosetests tests/
